<label for="serverName">server Name:</label>
<input id="serverName" type="text" class="form-control" [(ngModel)]="serverName" (input)="onChangeServerName()"/>
<button class="btn btn-primary" [disabled]="serverName.length==0" (click)="onCreateServer()">Add Server</button>

<p *ngIf="serverCreated;else noServer">Server was created.Server name is {{serverName}}</p>
<!--<p *ngIf="!serverCreated">No server was created yet.</p>-->
<ng-template #noServer>
    <p>Your new created server will appear here.</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
