<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Lesson Number 2</h2>
      <hr>
      <app-server-farm></app-server-farm>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Lesson Number 1</h2>
      <hr>
      <h3>This is my warning alert component</h3>
      <app-warning-alert></app-warning-alert>
      <app-warning-alert></app-warning-alert>
      <app-warning-alert></app-warning-alert>
      <hr>
      <h3>This is my success alert component</h3>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
